Mulesoft/mule-batch-processing/src/main/mule/mule-batch-real-example.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="36c103a4-45a4-4f4d-bed7-7e166a32f2a7" >
		<file:connection workingDir="D:\GitHUB\MuleSoft\Deployables\Files" />
	</file:config>
	
	<db:config name="Database_Config" doc:name="Database Config" doc:id="9f8af026-3bf7-4b79-84c9-227178693536" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="root" database="sakila" />
		
	</db:config>
	
	<flow name="mule-batch-real-exampleFlow" doc:id="4b2c34bf-c78e-49d1-9e01-26ae88a0d84b" >
		<file:listener doc:id="cb8d4f50-b8c6-41e3-a4a6-0588dbf25bdc" config-ref="File_Config" directory="Input" watermarkMode="MODIFIED_TIMESTAMP" timeBetweenSizeCheckUnit="SECONDS" doc:name="Poll the changes in the file sales.csv">
			<scheduling-strategy >
				<fixed-frequency frequency="5" startDelay="5" timeUnit="SECONDS" />
			</scheduling-strategy>
		</file:listener>
		<ee:transform doc:name="Transform Message" doc:id="ad3f1ec5-d315-4427-9929-871a510d3f0c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map{
	myname: $.Name,
	mycity:$.City
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[sizeOf(payload)]" doc:name="Set Variable" doc:id="0388f42d-43b1-457b-8970-5b123320a83f" variableName="payload_size"/>
		<batch:job jobName="insertintoDB" doc:id="97f38e8d-00e4-4be9-adc6-73b3cc02c960" >
			<batch:process-records >
				<batch:step name="Batch_Step_1" doc:id="ef0da4fd-cce7-4143-971a-685aa91d019d" >
					<ee:transform doc:name="Transform Message" doc:id="5735e9b4-3d11-4338-9986-2e7bc13893f2" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
						</ee:message>
						<ee:variables >
							<ee:set-variable variableName="name" ><![CDATA[%dw 2.0
output application/java
---
payload.myname as String]]></ee:set-variable>
							<ee:set-variable variableName="city" ><![CDATA[%dw 2.0
output application/java
---
payload.mycity as String]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
					<logger level="INFO" doc:name="Logger" doc:id="c9c1c419-992b-4af8-88be-208b9bc1960c" message="step-1 #[payload] city: #[vars.city] name: #[vars.name]"/>
					<db:select doc:name="find-out-if-the-record-exists" doc:id="6956769a-073b-46a1-a9c7-dc711d37c4e5" config-ref="Database_Config" target="isPresent" targetValue="#[sizeOf(payload)&gt;0]">
						<db:sql ><![CDATA[select * from details where name= :n and city= :c]]></db:sql>
						<db:input-parameters ><![CDATA[#[%dw 2.0
output application/java
---
{
	c: vars.city as String,
	n: vars.name as String
}]]]></db:input-parameters>
					</db:select>
				</batch:step>
				<batch:step name="Batch_Step_2" doc:id="ac3371e3-f1b5-4ee3-bebe-a6f575100651" acceptExpression="#[not vars.isPresent]">
					<logger level="INFO" doc:name="Logger" doc:id="672650d4-8bc0-441b-abd5-ab0d0c8d0d22" message="The record is present: #[vars.isPresent]" />
					<batch:aggregator doc:name="Batch Aggregator" doc:id="ee49ad55-3ebc-4183-b00c-fa9fc17b5d85" size="25">
						<db:bulk-insert doc:name="Bulk insert" doc:id="6aa92930-2ef4-4460-812b-1ab73c8c0e05" config-ref="Database_Config">
							<db:bulk-input-parameters ><![CDATA[#[%dw 2.0
output application/java
---
payload map{
	mn: $.myname as String,
	mc: $.mycity as String
}]]]></db:bulk-input-parameters>
							<db:sql ><![CDATA[
INSERT INTO `sakila`.`details`
(`name`,
`city`)
VALUES
(:mn, :mc);]]></db:sql>
						</db:bulk-insert>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="91163cc8-f4ea-4463-b636-d8b8df64aaee" message="total records processed: #[payload.processedRecords] and total Errors: #[payload.failedRecords] and total initial payload size: #[vars.payload_size]"/>
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>
