Mulesoft/watermarkingdatabases/src/main/mule/watermarkingdatabases.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="05433942-30ad-4278-8413-aef363e5461b" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="root" database="sakila" />
	</db:config>
	<file:config name="File_Config" doc:name="File Config" doc:id="7fcfb1bb-564b-4312-b984-23e5b66858b5" >
		<file:connection workingDir="D:\GitHUB\MuleSoft\Deployables\Files" />
	</file:config>
	<flow name="watermarkingdatabasesFlow" doc:id="d95d169d-a33f-49d1-9e63-d9f27b3f97ac" >
		<db:listener table="film_text" doc:name="reading the table film_text every 5 seconds" doc:id="5272fa06-9d3a-4baf-91e7-7538204672ef" config-ref="Database_Config" watermarkColumn="film_id" idColumn="film_id">
			<scheduling-strategy >
				<fixed-frequency frequency="5" startDelay="5" timeUnit="SECONDS" />
			</scheduling-strategy>
		</db:listener>
		<ee:transform doc:name="Transform Message" doc:id="6e2e541a-dcab-4e4f-b9b7-6745e794f86b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv headerLineNumber = 0 , header = false
---
[{
	"Film Name": payload.film_id as String,
	"Film Title": payload.title,
	Description: payload.description as String default ""
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write" doc:id="9764d277-fd6f-401e-96d4-e081fb293559" config-ref="File_Config" path="Output/Films.csv" mode="APPEND"/>
	</flow>
</mule>
